{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>

    </tr>
    </thead>
    <tbody>
    {{#posts}}
    <tr>
        <th>{{id}}</th>
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
    {{/posts}}
    </tbody>
</table>
<a href="/articles/{{posts.id}}/edit"class="btn btn-primary">Edit</a>
<a href="/articles/{{posts.id}}/delete"class="btn btn-danger">Delete</a>
<a href="/articles">Go to Article List</a>>

{{>comments/_comments}}
{{>layouts/footer}}